<section class="contact" id="contact">
    <div class="container">
        <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
            <h1>Contato</h1>
        </div>
        @if (ViewBag.Title == "Hospedagem de Sites Asp Net 4.5 SQL Server ")
        {
            <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <div class="sub-text">Fale <a data-gal="m_PageScroll2id" data-ps2id-offset="65">Conosco</a>.</div>
            </div>
        }
        else
        {
            <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <div class="sub-text">Fale <a href="#team" data-gal="m_PageScroll2id" data-ps2id-offset="65">Conosco</a>.</div>
            </div>
        }        
    </div>
    <div class="container">
        <div class="clear"></div>
        <form name="ajax-form" id="ajax-form" action="#" method="post">
            <div class="eight columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <label for="Nome">
                    <span class="error" id="err-name">digite seu nome</span>
                </label>
                <input name="Nome" id="Nome" type="text" placeholder="Seu Nome: *" />
            </div>
            <div class="eight columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <label for="Email">
                    <span class="error" id="err-email">digite seu e-mail</span>
                    <span class="error" id="err-emailvld">forma de e-mail não é valido</span>
                </label>
                <input name="Email" id="Email" type="text" placeholder="E-Mail: *" />
            </div>
            <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <label for="Mensagem"></label>
                <textarea name="Mensagem" id="Mensagem" placeholder="Digite sua mensagem"></textarea>
            </div>
            <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <div id="button-con"><button class="send_message" id="send"><span data-hover="submit">Enviar</span></button></div>
            </div>
            <div class="clear"></div>
            <div class="error text-align-center" id="err-form">Favor verifique se os campos foram preenchidos!</div>
            <div class="error text-align-center" id="err-timedout">A conexão com o servidor falhou!</div>
            <div class="error" id="err-state"></div>
        </form>
        <div class="clear"></div>
        <div id="ajaxsuccess">Enviado com sucesso!!</div>
    </div>
    <div class="clear"></div>
    <div class="map-wrapper">
        <div class="map-wrap" data-scroll-reveal="enter left move 100px over 0.5s after 0.1s">
            <div id="map"></div>
        </div>
        <div class="map-wrap contact-image-map" data-scroll-reveal="enter right move 100px over 0.5s after 0.1s">
            @*<div class="logo-contact"></div>*@
        </div>
    </div>

    <div class="clear"></div>

    <div class="footer">
        <div class="arrow-top" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s"><a href="#home" data-gal="m_PageScroll2id" data-ps2id-offset="65">&#xf106;</a></div>
        <div class="container">
            <div class="one-third column">
                <div class="call">Telefone: 11 3804-2488</div>
            </div>
            @if (ViewBag.Title == "Sistemas Web e Desktop, Hospedagem Asp Net 4.5, Sql Server")
            {
                <div class="one-third column">
                    <img src="/images/logo.png" alt="" />
                </div>
            }
            else
            {
                <div class="one-third column">
                    <img src="/images/logohost.png" alt="" />
                </div>
            }
            
            <div class="one-third column">
                <div class="call">Email: contato@varcalsys.com.br</div>
            </div>
            <div class="sixteen columns">
                <div class="social-footer">
                    <a rel="no follow" href="https://www.facebook.com/varcalsys" target="blank">&#xf09a;</a>
                    <a href="#">&#xf0e1;</a>
                    <a href="#">&#xf09b;</a>
                </div>
            </div>
        </div>
        <div class="footer-down">
            <div class="container">
                <div class="sixteen columns">
                    ©2014 ALL RIGHT RESERVED.
                </div>
            </div>
        </div>
    </div>
</section>
