
<nav id="menu-wrap" class="menu-back cbp-af-header">
    <div class="container">
        <div class="sixteen columns">        
            <a href="~/Home"><div class="logohost"></div></a>

            <ul class="slimmenu">
                <li>
                    <a href="#home" data-ps2id-offset="100">Home</a>
                </li>
                <li>
                    <a href="#host">Planos</a>
                </li>               
                <li>
                    <a href="http://varcalsys.com.br" target="blank">Desenvolvimento</a>
                </li>              
                <li>
                    <a href="#contact">Contato</a>
                </li>
                <li>
                    <a rel="nofollow" href="http://www.varcalsys.com.br:8880/" target="_blank">Área do Cliente</a>
                </li>
            </ul>               
        </div>
    </div>
</nav>
