@{
    ViewBag.Title = "Hospedagem de Sites Asp Net 4.5 SQL Server ";   
}

<!-- HOME SECTION
   ================================================== -->
<section class="home" id="home">
    <div class="arrow-down"><a href="#host" data-gal="m_PageScroll2id" data-ps2id-offset="65">&#xf107;</a></div>

    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- THE FIRST SLIDE -->

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-title="">
                    <img src="/images/hosting1.jpg" alt="" data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center" />
                    <!-- THE CAPTIONS IN THIS SLIDE -->

                    <div class="caption big-text lft ltt tp-resizeme"
                         data-x="center"
                         data-y="center"
                         data-speed="700"
                         data-start="600"
                         data-easing="easeOutExpo" style="z-index: 200;">
                        <div class="big-text-host">SERVIDORES WINDOWS COM .NET FRAMEWORK 4.5.2</div>
                    </div>
                    <div class="caption big-text lft ltt tp-resizeme"
                         data-x="center"
                         data-y="center"
                         data-speed="700"
                         data-start="1000"
                         data-easing="easeOutExpo" style="z-index: 200;">
                        @*<div class="thin-text"><span>VIDEO AULAS GRATUITAS</span></div>*@
                    </div>

                </li>

                <!-- THE SECOND SLIDE -->

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-title="">
                    <img src="/images/hosting2.jpg" alt="" data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center" />
                    <!-- THE CAPTIONS IN THIS SLIDE -->

                    <div class="caption big-text lft ltt tp-resizeme"
                         data-x="center"
                         data-y="center"
                         data-speed="700"
                         data-start="600"
                         data-easing="easeOutExpo" style="z-index: 200;">
                        <div class="big-text-host">SQL SERVER SEM CUSTOS ADICIONAIS</div>
                    </div>
                    <div class="caption big-text lft ltt tp-resizeme"
                         data-x="center"
                         data-y="center"
                         data-speed="700"
                         data-start="1000"
                         data-easing="easeOutExpo" style="z-index: 200;">
                        @*<div class="thin-text"><span>AMAMOS O QUE FAZEMOS</span></div>*@
                    </div>

                </li>

                <!-- THE THIRD SLIDE -->

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-title="">
                    <img src="/images/hosting3.jpg" alt="" data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center" />
                    <!-- THE CAPTIONS IN THIS SLIDE -->

                    <div class="caption big-text lft ltt tp-resizeme"
                         data-x="center"
                         data-y="center"
                         data-speed="700"
                         data-start="600"
                         data-easing="easeOutExpo" style="z-index: 200;">
                        <div class="big-text-host">APLICATIVOS MOODLES, OPENCHART E MUITO MAIS</div>
                    </div>
                    <div class="caption big-text lft ltt tp-resizeme"
                         data-x="center"
                         data-y="center"
                         data-speed="700"
                         data-start="1000"
                         data-easing="easeOutExpo" style="z-index: 200;">
                        @*<div class="thin-text"><span>RESOLVENDO E INOVANDO</span></div>*@
                    </div>

                </li>
            </ul>
        </div>
    </div>
</section>

<!-- HOST SECTION
   ================================================== -->
<section class="host" id="host">
    <div class="pricing-wrap">
        <div class="container">
            <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <h1>Planos de Hospedagem</h1>
            </div>
            <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <div class="sub-text">Tráfego ilimitado para todos os nosso planos. <a data-gal="m_PageScroll2id" data-ps2id-offset="65">Suporte para MVC 5</a></div>
            </div>
        </div>
        <div class="container">
            <div class="four columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <div class="plan-single">
                    <div class="plan-icon">&#xf097;</div>
                    <h5>R$24,99 - <span> BÁSICO</span></h5>
                    <p><strong>5GB</strong> ESPAÇO DISCO</p>
                    <p>ASP NET 4.5.2 MVC 5</p>
                    <p>ENTITY FRAMEWORK 6</p>
                    <p><strong>SQL SERVER 2012</strong> 3 Bases (1GB)</p>
                    <p><strong>MYSQL </strong> 3 Bases (1GB cada)</p>
                    <p>50 CONTAS EMAIL</p>
                    <div class="price-link"><a href="/Cliente/Registrar" data-gal="m_PageScroll2id" data-ps2id-offset="65">Contrate</a></div>
                </div>
            </div>
            <div class="four columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <div class="plan-single">
                    <div class="plan-icon">&#xf097;</div>
                    <h5>R$44,99 - <span> STANDARD</span></h5>
                    <p><strong>10GB</strong> ESPAÇO DISCO</p>
                    <p>ASP NET 4.5.2 MVC 5</p>
                    <p>ENTITY FRAMEWORK 6</p>
                    <p><strong>SQL SERVER 2012</strong> 6 Bases (1GB)</p>
                    <p><strong>MYSQL </strong> 6 Bases (1GB cada)</p>
                    <p>100 CONTAS EMAIL</p>
                    <div class="price-link"><a href="/Cliente/Registrar" data-gal="m_PageScroll2id" data-ps2id-offset="65">Contrate</a></div>
                </div>
            </div>
            <div class="four columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <div class="plan-single">
                    <div class="plan-icon">&#xf097;</div>
                    <h5>R$79,99 - <span> PLUS</span></h5>
                    <p><strong>20GB</strong> ESPAÇO DISCO</p>
                    <p>ASP NET 4.5.2 MVC 5</p>
                    <p>ENTITY FRAMEWORK 6</p>
                    <p><strong>SQL SERVER 2012</strong> 10 Bases (1GB)</p>
                    <p><strong>MYSQL </strong> 10 Bases (1GB cada)</p>
                    <p>150 CONTAS EMAIL</p>
                    <div class="price-link"><a href="/Cliente/Registrar" data-gal="m_PageScroll2id" data-ps2id-offset="65">Contrate</a></div>
                </div>
            </div>
            <div class="four columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <div class="plan-single">
                    <div class="plan-icon">&#xf097;</div>
                    <h5>R$129,99 - <span> MASTER</span></h5>
                    <p><strong>30GB</strong> ESPAÇO DISCO</p>
                    <p>ASP NET 4.5.2 MVC 5</p>
                    <p>ENTITY FRAMEWORK 6</p>
                    <p><strong>SQL SERVER 2012</strong> 20 Bases (1GB)</p>
                    <p><strong>MYSQL </strong> 20 Bases (1GB cada)</p>
                    <p>CONTAS EMAIL ILIMITADAS</p>
                    <div class="price-link"><a href="/Cliente/Registrar" data-gal="m_PageScroll2id" data-ps2id-offset="65">Contrate</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

