body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
header {
    width: 50%;
}


.body-content {
    margin-top: 10%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logohost{
	width:307px;
	height:100px;
	top:0;
	background:url('/images/logohost.png') no-repeat center center;
	background-size:307px 100px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}

#menu {
    padding-top: 0;
    margin-top: 5%;
    margin-left: 50%;
    color: #cbab82;
}

.navbar-inverse .navbar-nav > li > a {
    color: #cbab82;
}

.btn {
    width: 9%;
    background-color: #000000;
    color: #cbab82;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}

