
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<h2>Registrar</h2>

<div ng-controller="clienteController">

</div>


@section Scripts{  
    <script src="~/Scripts/app/controllers/clienteController.js"></script>
}